@charset "utf-8";
/* CSS Document */

.bnspic a{display:block;}
.big_pic, .small_pic {float:left;}
.big_pic, .big_pic a, .big_pic img {float:left;}
.big_pic {overflow:hidden; position:relative; width:400px; height:400px; background:#F4F4F5;}
.big_pic li{position:absolute; width:400px; height:400px;top:0;left:0;opacity:0;-webkit-transform:scale(0.9);transform:scale(0.4);z-index:1;transition:all linear 0.2s;}
.big_pic .on{opacity:1;-webkit-transform:scale(1);transform:scale(1);z-index:2;}
.big_pic a{position:relative;}
.big_pic a:hover .txt{color:#FFFFFF;}
.big_pic img {margin:1px; width:398px; height:398px;}
.small_pic {width:400px; height:60px; position:relative; float:left; left:1px; top:11px;}
.small_pic img{width:56px;height:56px;}
.small_pic li{width:60px; height:60px; float:left; margin-left:15px; border:2px solid #DBDBDB; cursor:pointer;}
.small_pic li:first-child {margin-left:0;}
.small_pic li.on {border-color:#4EB248;}

