<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 

 	<settings> 
        <setting name="cacheEnabled" value="true" /> 
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    
    <!--Define Type Alias -->
    <typeAliases> 
       <typeAlias alias="Wallet" type="com.pharmacodia.dg.framework.datamodel.Wallet"/>
       <typeAlias alias="ShiroUser" type="com.pharmacodia.dg.framework.datamodel.ShiroUser"/>
        <typeAlias alias="PageBounds" type="com.github.miemiedev.mybatis.paginator.domain.PageBounds"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
    
</configuration>
